@import "variable";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: $navy-blue;
}
